* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.continer {
  max-width: 1301px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  font-family: sans-serif;
}
header {
  background-color: #bb2339;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
}
a {
  text-decoration: none;
  color: w;
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar button {
  width: 131px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: solid 2px #fff;
  color: white;
  transition: all 0.3s linear;
}
#hero {
  background-color: #bb2339;
}
.navbar button:hover {
  width: 131px;
  height: 48px;
  border-radius: 100px;
  background-color: white;
  color: red;
}
.left {
  margin-top: 100px;
}
#js {
  padding-top: 60px;
  padding-bottom: 60px;
}

.text {
  text-align: center;
  background-color: #b9b2b2f0;
  border-radius: 10px;
  height: 350px;
}

.text img:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}
.owl-next , .owl-prev{
    background-color: rgba(0, 0, 0, 0.376) !important; 
    width: 40px !important;
    height: 40px !important;
}

.owl-next::after{
content: url("./img/chapga.svg");
}
.owl-next span{
    display: none;
}
.owl-prev::after{
content: url("./img/mayaqa.svg");
}
.owl-prev span{
    display: none;

}
