* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.continer {
  max-width: 1301px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  font-family: sans-serif;
}
header {
  background-color: #bb2339;
  padding-top: 20px;
  padding-bottom: 20px;
  /* position: fixed; */
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar button {
  width: 131px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: solid 2px #fff;
  color: white;
  transition: all 0.3s linear;
}
/* From Uiverse.io by dexter-st */
.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 20;
  margin: 2rem;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  user-select: none;
  color: #fff;

  scale: 2;
  animation: noneanimate 2s 5s linear forwards;
  
}

@keyframes noneanimate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

  background-color: transparent;
  mask: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 6px,
    black 7px,
    black 8px
  );
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image:
    radial-gradient(circle at 50% 50%, #ff0 0%, transparent 50%),
    radial-gradient(circle at 45% 45%, #f00 0%, transparent 45%),
    radial-gradient(circle at 55% 55%, #0ff 0%, transparent 45%),
    radial-gradient(circle at 45% 55%, #0f0 0%, transparent 45%),
    radial-gradient(circle at 55% 45%, #00f 0%, transparent 45%);
  mask: radial-gradient(
    circle at 50% 50%,
    transparent 0%,
    transparent 10%,
    black 25%
  );
  animation:
    transform-animation 2s infinite alternate,
    opacity-animation 4s infinite;
  animation-timing-function: cubic-bezier(0.6, 0.8, 0.5, 1);
}

@keyframes transform-animation {
  0% {
    transform: translate(-55%);
  }
  100% {
    transform: translate(55%);
  }
}

@keyframes opacity-animation {
  0%,
  100% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
}

.loader-letter {
  display: inline-block;
  opacity: 0;
  animation: loader-letter-anim 4s infinite linear;
  z-index: 2;
}

.loader-letter:nth-child(1) {
  animation-delay: 0.1s;
}
.loader-letter:nth-child(2) {
  animation-delay: 0.205s;
}
.loader-letter:nth-child(3) {
  animation-delay: 0.31s;
}
.loader-letter:nth-child(4) {
  animation-delay: 0.415s;
}
.loader-letter:nth-child(5) {
  animation-delay: 0.521s;
}
.loader-letter:nth-child(6) {
  animation-delay: 0.626s;
}
.loader-letter:nth-child(7) {
  animation-delay: 0.731s;
}
.loader-letter:nth-child(8) {
  animation-delay: 0.837s;
}
.loader-letter:nth-child(9) {
  animation-delay: 0.942s;
}
.loader-letter:nth-child(10) {
  animation-delay: 1.047s;
}

@keyframes loader-letter-anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    text-shadow: 0 0 4px #fff;
    transform: scale(1.1) translateY(-2px);
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.call-button{
  display: flex;  
  gap: 30px
  ;
}
#call{
  padding-top: 60px;
padding-bottom: 60px;
}
.rang-culi{
  margin-left: 40px;
}
.fieldset{
  width: 400px;
  height: 90px;
  border-radius: 15px;
  border: solid 2px;
}
.buber{
  padding: 10px;
}

/* From Uiverse.io by Yaya12085 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width:50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  border: solid 2px rgb(195, 108, 108);
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.df{
  display: flex;
  gap: 50px
  ;
  justify-content: space-between;
}

#Find-us-by-card{
  padding-top: 60px;
  padding-bottom: 60px;
}
#Find-us-by-card h1{
display: flex;
justify-content: center;
}
.imgd{
  padding-top: 60px;
  padding-bottom: 60px;
}
.button-nav {
  width: 148px;
  height: 48px;

  border-radius: 100px;
  color: #000000;
  gap: 40px;
   border: solid 2px #e7d6d9;

  transition: all 0.3s linear;
  margin-top: 30px;
  
}
.button-nav:hover {
  width: 148px;
  height: 48px;
  background-color: #bb2339;
  border-radius: 100px;
  color: #fff;
}
  .ohiri{
    background-color: #BB2339;
    text-align: center;
    color: white;
    height: 400px;
    border-radius: 15px;
  }
  .i{
    width: 635px  ;
    height: 52px;
    border-radius: 15px;
    background-color: #BB2339;
    color: white;
    padding: 10px;
  }