* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.continer {
  max-width: 1301px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  font-family: sans-serif;
}
header {
  background-color: #bb2339;
  padding-top: 20px;
  padding-bottom: 20px;
  /* position: fixed; */
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar button {
  width: 131px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: solid 2px #fff;
  color: white;
  transition: all 0.3s linear;
}
.navbar button:hover {
  width: 131px;
  height: 48px;
  border-radius: 100px;
  background-color: white;
  color: red;
}
/* From Uiverse.io by dexter-st */
.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 20;
  margin: 2rem;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  user-select: none;
  color: #fff;

  scale: 2;
  animation: noneanimate 2s 5s linear forwards;

}

@keyframes noneanimate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;

  background-color: transparent;
  mask: repeating-linear-gradient(
    90deg,
    transparent 0,
    transparent 6px,
    black 7px,
    black 8px
  );
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image:
    radial-gradient(circle at 50% 50%, #ff0 0%, transparent 50%),
    radial-gradient(circle at 45% 45%, #f00 0%, transparent 45%),
    radial-gradient(circle at 55% 55%, #0ff 0%, transparent 45%),
    radial-gradient(circle at 45% 55%, #0f0 0%, transparent 45%),
    radial-gradient(circle at 55% 45%, #00f 0%, transparent 45%);
  mask: radial-gradient(
    circle at 50% 50%,
    transparent 0%,
    transparent 10%,
    black 25%
  );
  animation:
    transform-animation 2s infinite alternate,
    opacity-animation 4s infinite;
  animation-timing-function: cubic-bezier(0.6, 0.8, 0.5, 1);
}

@keyframes transform-animation {
  0% {
    transform: translate(-55%);
  }
  100% {
    transform: translate(55%);
  }
}

@keyframes opacity-animation {
  0%,
  100% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
}

.loader-letter {
  display: inline-block;
  opacity: 0;
  animation: loader-letter-anim 4s infinite linear;
  z-index: 2;
}

.loader-letter:nth-child(1) {
  animation-delay: 0.1s;
}
.loader-letter:nth-child(2) {
  animation-delay: 0.205s;
}
.loader-letter:nth-child(3) {
  animation-delay: 0.31s;
}
.loader-letter:nth-child(4) {
  animation-delay: 0.415s;
}
.loader-letter:nth-child(5) {
  animation-delay: 0.521s;
}
.loader-letter:nth-child(6) {
  animation-delay: 0.626s;
}
.loader-letter:nth-child(7) {
  animation-delay: 0.731s;
}
.loader-letter:nth-child(8) {
  animation-delay: 0.837s;
}
.loader-letter:nth-child(9) {
  animation-delay: 0.942s;
}
.loader-letter:nth-child(10) {
  animation-delay: 1.047s;
}

@keyframes loader-letter-anim {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
    text-shadow: 0 0 4px #fff;
    transform: scale(1.1) translateY(-2px);
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
#Menu {
  padding-top: 90px;
  padding-bottom: 60px;
}
.Menu-left {
  background-color: #bb2339;
  color: white;
  padding: 50px 40px;
  border-radius: 15px;
  max-width: 428px;
  width: 100%;
  height: 850px;
}
.div {
  width: 164px;
  height: 48px;
  background-color: #ffffff;

  border-radius: 100px;
  margin-top: 30px;
  gap: 20px;
  border: solid 1px white;
  transition: all 0.3s linear;
}
.div:hover {
  transform: scale(1.1);
  background-color: #bb2339;
  color: white;
}
.rang {
  color: #bb2339;
}
.menu-right {
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border: solid 2px rgba(0, 0, 0, 0.866);
  box-shadow: 10px 10px 55px;
  border-radius: 15px;
}
.menu-right img {
  transition: all 0.3s linear;
  padding: 30px;
  text-align: center;
}

.menu-right:hover img {
  transform: scale(1.05);
}
.link {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  margin-left: 50px;
}
.name {
  display: flex;
}
.img {
  width: 270px;
  height: 183px;
}
.com-rhgt {
  width: 491px;
  height: 265px;
  margin-top: 80px;
}
.com-rhgt {
  width: 491px;
  height: 265px;
  margin-top: 80px;
}
.Condimentum {
  padding: 20px;
}

.zero {
  width: 250px;
  height: 347px;
  border-radius: 15px;
  transition: all 0.3s linear;
}
.Chase {
  display: flex;
  margin-top: 60px;
}
.instagram {
  width: 1400px;
}
.size {
  font-size: 40px;
}
.zero:hover {
  transform: scale(1.1);
}
.instagram {
  background-color: #f4f4f4;
}
.button-nav {
  width: 148px;
  height: 48px;

  border-radius: 100px;
  color: #000000;
  gap: 40px;
  border: solid 1px #bb2339;

  transition: all 0.3s linear;
}
.button-nav:hover {
  width: 148px;
  height: 48px;
  background-color: #bb2339;
  border-radius: 100px;
  color: #fff;
}
.rang-culi {
  color: rgb(0, 0, 0, 0.5);
}
.ohiri {
  background-color: #bb2339;
  text-align: center;
  color: white;
  height: 400px;
  border-radius: 15px;
  margin-top: 60px;
}
.input {
  width: 635px;
  height: 52px;
  border-radius: 15px;
  background-color: #bb2339;
  color: white;
  padding: 10px;
}
.button-nav {
  border: solid 2px;
}
